.property-list{
    margin: auto;
}
.property-list h1{
    font-size:23px;
    text-align: center;
    color: var(--head-letter-color);
    font-family: var(--Font-famliy-one);
    border-radius: 15px;
}
.box-search{
    /* background-color: var(--bg); */
    /* padding: 10px; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.search h1{
    color: var(--Font-color-general-2);
    font-size:14px;
    padding:5px 0 5px;
    background-color: var(--bg-white);
    font-family: var(--Font-famliy-two);
    display: flex;
     justify-content: center;
    align-items: center;
    padding-left: 10px;
    border: solid 2px #FFBB00;

    
    
}
.fliter h1{
    font-family: var(--Font-famliy-two);
    font-size:14px;
    background-color: var(--bg-black);
    padding: 15px 15px 15px 15px;
    color: white;
    display: flex;
   
}
.icon-fliter{
    margin-left: 5px;
}
.icon-search{
    margin-left: 175px;
    margin-right: 10px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}
.category {

    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
.category-type{ 
    background-color: var(--bg-white);
    margin: 0;
    padding: 0px 40px 0px 10px;
    border-radius: 15px;
     border: solid 2px #FFBB00;

}
.category-type h1{
    margin: 0;
    text-align: left;
}
.category-type h2{
    width: 400%;
    margin-left: 15px;
    margin: 0;
    font-size: 13px;
     color: var(--bg);

}
.icon-filter-type {
    width: 100%;
    font-size: 20px;
    color: var(--bg);
    
}
.property {
    margin: auto;
}
.property h1{
    font-family: var(--Font-famliy-one);
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
    font-size: 23px;
}
.cards-contanier {
  display: flex;         
  flex-wrap: wrap;       
  gap: 20px;
}

.card-item {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.img-wrapper {
  display: flex;          
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;          
  overflow: hidden;      
  border-radius: 5px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
}


.card-item h2 {
  font-size: 20px;
  text-align: left; 
  width: 100%;  
  font-family: var(--Font-famliy-one);
  font-weight: 400;
  margin: 0;
   margin-top: 15px; 
}
.card-item h3 {
  font-size: 13px;
   margin:0; 
   margin-top: 5px;
  text-align: left; 
  width: 100%;  
  font-family: var(--Font-famliy-two);
  font-weight: 400;
}

.card-item h4 {
  font-family: var(--Font-famliy-one);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-top: 5px;
  text-align: left;
  width: 100%;      
  color: var(--bg-black);    
}
.bed-bath{
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 0;
}
.icon-bed-bath{
    margin-top: 0px;
    font-size: 15px;
    margin-right:5px;
    color: var(--bg-black);
}
.bed h1{
    font-family: var(--Font-famliy-two);
    font-weight: 400;
    font-size:15px;
    color: var(--bg-black);
}
.bath h1{
    font-family: var(--Font-famliy-two);
    font-weight: 400;
    font-size:15px;
    color: var(--bg-black);
}
.view-detail{
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border: 2px solid gray;
}
.view-detail h1{
    font-family: var(--Font-famliy-one);
    color: var(--bg);
    font-size: 13px;
    font-weight: 400;
}
.view-detail a{
    text-decoration: none;
}
.discount {
    background-color: var(--head-letter-color);
}
.discount img{
    width: 100%;
    height: 140px;
    object-fit: contain;
}