.navbar-content {
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all .2s ease;
  }
  
  .navbar-content.scrolled {
    background-color: var(--nav-foot);
  }
  
  .navbar-content.scrolled .nav-links ul li a {
    color: var(--text);
  }
  
  .navbar-content.scrolled .nav-links ul li a:hover {
    color: var(--acent-hover);
  }
  
  .navbar-content.scrolled .nav-links ul li a.active {
    color: var(--acent-hover);
  }
  
  .navbar {
    max-width: var(--maxw);
    margin: auto;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 8%;
    object-fit: cover;
  }
  
  .logo img {
    width: 100%;
  }
  
  .nav-links ul:not(.sidebar) {
    display: flex;
    list-style: none;
    gap: 35px;
  }
  
  .nav-links ul li a {
    font-size: 17px;
    color: var(--icon);
    transition: all .1s ease;
  }
  
  .nav-links ul li a.active {
    color: var(--acent-hover);
    font-weight: 500;
    border-bottom: 3px solid var(--acent-hover);
  }
  
  .nav-links ul li a:hover {
    color: var(--acent-hover);
    border-bottom: 2px solid var(--acent-hover);
  }
  
  .extra:hover {
    border-bottom: none;
  }
  
  .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  
  .nav-btn a{
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 8px;
    background-color: var(--acent-secondary);
  }
  
  .nav-btn i {
    font-size: 15px;
  }
  
  .menu-btn {
    display: none;
  }
  
  
  /* side-menu for responsive navbar */
  .sidebar {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 25px;
    padding-top: 30px;
    padding-right: 16px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 4;
    background-color: var(--nav-foot);
    list-style: none;
  }
  
  .sidebar li {
    width: 100%;
    text-align: right;
  }
  
  .sidebar a {
    width: 100%;
  }
  
  /* responsive navagation */
  @media (max-width: 768px) {
    /* the navbar on phone */
    .hideOnMobile {
      display: none;
    }
  
    .menu-btn {
      display: block;
    }
  
    .logo {
      width: 20%;
    }
  
    .logo img {
      width: 100%;
    }
  
    .nav-btn {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .nav-btn a {
      padding: 6px 12px;
      font-size: 12px;
    }
  
    .nav-btn i {
      font-size: 10px;
    }
  
    .menu-btn {
      font-size: 18px;
  
  
    }
  }
  

  .agent-page{
    max-width: var(--maxw);
    margin: auto;
    margin-top: 65px;
    background-color: #FFF2F2;
    line-height: 2;
    text-align: center;
    padding: 20px;
  }
  .agent{
    font-size: var(--head-secondary);
  }

  .about-agent{
    line-height: 25px;
    font-size: var(--body);
  }


  .btn-search{
    display: flex;
    background: white;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    /* padding: 20px; */
  }
  
  .search-input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 20px;
  }
  
  .search-btn {
    background: #f9a825;       
    border: none;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
  }
  

.agent-listing{
    margin: 100px;
}

.agent-card {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    /* height: 300px; */
    cursor: pointer;
    color: #fff;
    background-color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .agent-card-content {
    width: 100%;
    /* height: 100%; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .agent-card-content h1 {
      font-size: 24px;
      color: var(--text);
  }
  
  .agent-card-content span {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--acent-hover);
  }
  
  .agent-card-content p {
    color: var(--text);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
  }
  
  .img-cols {
      width: 70px;
      height: 70px;
      overflow: hidden;
      border-radius: 50%;
      background-color: pink;
      margin-bottom: 12px;
  }
  
  .img-cols img {
      width: 100%;
      object-fit: cover;
  }
  
  /* Hover effect */
  .agent-card:hover {
    transform: translateY(-4px);
  }

  .btn-click{
    display: flex;
    margin: auto;
    gap: 10px;
    padding: 59px 536px;
    justify-content: center;

}
.click{
    width: 40px;
    height: 40px;

}
button{
    width: 40px;
    height: 40px;   
    border-radius: none;
    transition: all .4s ease;
    border: none;
}

button:hover{
    background-color: var(--acent);
    color: #fff;
}

.footer {
    width: 100%;
    background: var(--nav-foot);
    border-top: 1px solid var(--line);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .img-footer {
    width: 300px;
    height: 150px;
    overflow: hidden;
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-infor {
    max-width: 700px;
  }
  
  .footer-infor h1 {
    font-size: 24px;
    color: var(--text);
    margin-top: 16px;
  }
  
  .footer-infor span {
    color: var(--text-secondary);
  }
  
  .footer-infor p {
    font-size: 16px;
    color: var(--text);
    margin-top: 8px;
  }
  
  .footer-contact {
    font-size: var(--text);
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  
  .contact-cols {
    display: flex;
    color: var(--muted);
    gap: 16px;
  }
  
  .contact-cols span{
    font-size: 16px;
  }
  
  .contact-cols i {
    font-size: 12px;
  }
  
  .footer__small {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  
  .footer__small a{
    font-size: 17px;
    transition: all .2s ease;
    pointer-events: auto;
  }
  
  .footer__small a:hover {
    color: var(--acent-hover);
    transform: translateY(-6px);
  }
  
  .copyright {
    width: 100%;
    margin-top: 24px;
    padding: 4px 0px;
    background-color: var(--muted);
  }
  
  .copyright small {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
  }

  
